         body {
       font-family: 'Montserrat', sans-serif;
         }
                                    
    .container {
      
       display: flex;
       flex-direction: row-reverse;
       width: 1200px;
       background-color: rgba(253, 253, 253, 0.556);
       margin: 40px auto;
       box-shadow: 6px 6px 20px rgb (0 0 0 0.1);
     }
    
    .content {
        padding: 50px 90px 50px 90px;
       
    }
    .content_title {
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 27px;
        color: black;
        margin-bottom: 10px;
    }
    .content_section {
        margin-bottom: 50px;
    }
    .content_el{
        color:#53d324;
    }
      /* ABOUT ME SECTION */
    
    .my_profession{
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 17px;
        color: #595959;
        margin: 0 0 40px 0;

    }
    .my_name {
        font-style: normal;
        font-weight: bold;
        font-size: 45px;
        line-height: 55px;
        color: black;
        margin: 0 0 25px 0;
    }

    .my_description {
        width: 400px;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 24px;
        color: #595959;
    }
                                                          
    /* MY PROJECTS SECTION */
    
    .my_projects_list {
        padding: 0 0 0 13px;
    }
    
    .my_projects_item {
        color: black;
        font-weight: bold;
    }
    
    .my_projects_text {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: #595959;
        margin-left: 5px;
    }
    .my_projects_text:hover,
    .my_projects_text:focus{
        color:#53d324;
    }                                
    /* /*MY WORK EXPERIENCE */
    .my_work
    {
        margin: 0 15PX 0 0;
    }
 
    .my_work_time {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        color: #a8a8a8;
        margin-bottom: 0 0 10px 0;
    }
    
    .my_list {
        padding: 0 0 0 18px;
    }
    
    .my_work_charge {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: #595959;
        margin-bottom: 0 0 10px 0;
     }
    
    /* MY EDUCATION SECTION*/
                                    
    .my_education {
        color: black;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 0 0 10px 0;
    }
    
    .my_time {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        color: #a8a8a8;
        margin-bottom: 15px 0 15px 0;
    }
   /* SIDEBAR SECTION */
    .sidebar{
        background-color: #1e2939;
        width: 370px;
       
    }
    .sidebar_section {
        margin: 50px 0px 0px 40px;
    }
    
    .my_title {
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 27px;
        color: white;
        margin-bottom: 10px;
    }
    /* CONTACTS SECTION */
                                    
    .my_type {
        width: 26px;
        height: 46px;
        left: 80px;
        top: 520;
        color: white;
        margin-right: 7px;
    }
    .my_contacts_link
     {
        width: 157px;
        height: 48px;
        left: 106px;
        top: 520;
        color: #56565a;
        font-style: normal;
        font-weight: normal;
    }

    .my_contacts_link:hover,
    .my_contacts_link:focus{
        color: #3ca715c8;
    }
    /* SOCIAL SECTION */

    .my_social_list{
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: row;
    }
    .my_social_item{
        margin-right: 15px;
    }
    .social_link{
        fill:#7e7e81;
    }

    .social_link:hover,
    .social_link:focus{
        fill:#3ca715c8 ;
    }
   
    .my_social_icon{
        width:40px ;
        height: 40px;
    }

    /* SKILLS SECTION */
    
    .my_skills_list{
        padding: 0 0 0 17px;
    }

    .my_skills_item{
        color:#3ca715c8;
    }
    
    .my_skills_text {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: white;
    }
