         body {
       font-family: 'Montserrat', sans-serif;
       background-color: #d6d9e2; }
                                    
    .My-container {
      
       display: flex;
       flex-direction: row-reverse;
       width: 1200px;
       background-color: rgba(253, 253, 253, 0.556);
       margin: 40px auto;
       box-shadow: 6px 6px 20px rgb (0 0 0 0.1);
     }
    
    .My-content-section {
        padding: 100px 90px 100px 90px;
    }
    
    .My-content-title {
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 27px;
        color: black;
        margin-bottom: 10px;
    }
    /* ABOUT ME SECTION */
    
    .About-me-section {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        color: #595959;
        margin: 0 0 40px 0;
    }
                                    
    .My-name {
        font-style: normal;
        font-weight: bold;
        font-size: 45px;
        line-height: 55px;
        color: black;
        margin: 0 0 25px 0;
    }
                                    
    .About-me-description {
        width: 400px;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 24px;
        color: #595959;
    }
    /* MY PROJECTS SECTION */
    
    .My-projects-list {
        padding: 0 0 0 13px;
    }
    
    .My-projects-item {
        color: black;
        font-weight: bold;
    }
    
    .My-projecs-text {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: #595959;
        margin-left: 5px;
    }
                                    
    .My-projects-link {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: #595959;
    }
    
    .My-projects-bracked {
        font-style: normal;
         font-weight: bold;
        font-size: 14px;
        line-height: 24px;
        color: black;
    }
    
    .My-projects-section {
        margin-bottom: 50px;
    }
    /* /*MY WORK EXPERIENCE */
    .My-Work-Experience-Company {
        color:#3ca715;
    }
                                    
    .My-Work-Experience-pozition {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        color: black;
        margin-bottom: 0 0 10px 0;
    }
    
    .My-Work-Experience-time {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        color: #a8a8a8;
        margin-bottom: 0 0 10px 0;
    }
    
    .My-Work-Experience-duties {
        padding: 0 0 0 18px;
    }
    
    .My-Work-Experience-duti {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: #595959;
        margin-bottom: 0 0 10px 0;
     }
    
    .My-Work-Experience-COMPANY-BLOK {
        margin-bottom: 0 15PX 0 0;
    }
                                    
    .My-Work-Experience-divider {
        color: black;
    }
    /* MY EDUCATION SECTION*/
                                    
    .My-Education-school {
        color: #3ca715;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 0 0 10px 0;
    }
    
    .My-Education-profession {
        color: black;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 0 0 10px 0
    }
    
    .My-Education-time {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        color: #a8a8a8;
        margin-bottom: 15px 0 15px 0;
    }
    
  
    
    .Sidebar-section {
        background-color: #1e2939;
        width: 370px;
       
    }
    
    .Sidebar-title {
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 27px;
        color: white;
        margin-bottom: 10px;
    }
    /* CONTACTS SECTION */
                                    
    .Contacts-section {
        margin: 50px 0px 0px 40px;
    }
    
    .Contacts-section-type {
        width: 26px;
        height: 46px;
        left: 80px;
        top: 520;
        color: white;
        margin-right: 7px;
    }
    
    .Contacts-section-link {
        width: 157px;
        height: 48px;
        left: 106px;
        top: 520;
        color: #56565a;
        font-style: normal;
        font-weight: normal;
    }
    /* TECH SKILLS SECTION */
    
    .Tech-skills-selection {
        margin: 50px 0px 0px 40px;
    }
    
    .Tech-skills-list {
        padding: 0 0 0 17px;
    }
    
    .Tech-skills-item {
        color: #3ca715;
    }
    
    .Tech-skills-text {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: white;
    }
    /* SOFT SKILLS SECTION */
                                    
    .Soft-skills-selection {
        margin: 0px 0 0 40px;
    }
    
    .Soft-skills-title {
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 27px;
        color: white;
    }
    
    .Soft-skills-item {
        color: #3ca715;
    }
    
    .Soft-skills-text {
        font-style: normal;
       font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: white;
    }
    
    .Soft-skils-list {
        padding: 0 0 0 15px
    }
    .social_link{
       
        fill:#56565a;
    }
    .social{
        display: flex;
        flex-direction: row;
      
    }
    .soc{
      margin-left: 20px;
    }